<script context="module">
  import '../app.css'
  import { bootLocale } from '../i18n'

  export async function load() {
    await bootLocale()
    return {}
  }
</script>

<script>
  import Navbar from '@components/Navbar.svelte'
  import Footer from '@components/Footer.svelte'
  import { onMount } from 'svelte'
  import { getCookie, setCookie } from '@utils/cookie'
  import { page } from '$app/stores'
  import { loader } from '@utils/dynamicLoader'
  import { locale } from 'svelte-intl-precompile'

  function loadChatWidget(locale) {
    const url =
      locale === 'en'
        ? 'https://embed.tawk.to/620a706fa34c2456412631fd/1frskldv0'
        : 'https://embed.tawk.to/620a706fa34c2456412631fd/1frscednc'

    window.Tawk_LoadStart = new Date()
    window.Tawk_API = {}

    loader({
      urls: [
        {
          src: url,
          attributes: [
            {
              name: 'crossorigin',
              value: '*',
            },
          ],
        },
      ],
    })
  }

  function showCookieConsent(locale) {
    let content = {
      message:
        'Acest site folosește cookie-uri pentru a vă asigura cea mai bună experiență pe site-ul nostru.',
      dismiss: 'Am înțeles!',
      link: 'Mai mult',
    }
    if (locale === 'en')
      content = {
        message:
          'This website uses cookies to ensure you get the best experience on our website.',
        dismiss: 'Got it!',
        link: 'Learn more',
      }

    loader({
      urls: [
        'https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css',
        'https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js',
      ],
      testCondition: () => !!window.cookieconsent,
      callback: () => {
        window.cookieconsent.hasTransition = false
        window.cookieconsent.initialise({
          palette: {
            popup: {
              background: '#121214',
              text: '#F8FAFD',
            },
            button: {
              background: 'transparent',
              text: '#F8FAFD',
              border: '#F8FAFD',
            },
          },
          content,
          onStatusChange: () => loadChatWidget(locale),
        })
      },
    })
  }

  onMount(() => {
    const lang = getCookie('LANG', document.cookie)
    if (!lang) {
      setCookie('LANG', $locale)
    }
    if (lang && lang !== $locale) {
      locale.set(lang)
    }
    showCookieConsent(lang)
    !!getCookie('cookieconsent_status', document.cookie) && loadChatWidget(lang)
  })
</script>

<svelte:head>
  <style>
    body {
      background-color: hsl(216, 56%, 98%);
    }
  </style>
</svelte:head>

<Navbar />

{#if $page.url.pathname === '/'}
  <div
    class="left-o backgroundImage absolute top-0 z-0 hidden min-h-[563px] w-full bg-cover bg-center md:block" />
{/if}

<main id="main" class="layout-min-height z-10 mx-auto max-w-5xl pt-40 pb-16">
  <slot />
</main>

<Footer />

<style>
  /* content min-height to avoid dead space below the footer */
  .layout-min-height {
    min-height: calc(100vh - 208px);
  }

  .backgroundImage {
    background-image: url('/images/hero_image4.jpg');
  }
</style>
