<script>
  import { t } from 'svelte-intl-precompile'
  import { goto } from '$app/navigation'
  import Button from './../UI/Button.svelte'

  const onRequestCarClick = () => {
    goto('request-a-car')
  }
</script>

<svelte:head>
  <title>Allianz-Hoffmann | {$t('Home Page Title')}</title>
</svelte:head>

<div class="bg-brand-200">
  <main class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="relative h-auto max-w-[550px] bg-brand-200/[.85] p-4 md:p-12 md:shadow-sm">
      <h1 class="min-w-sm text-4xl font-medium tracking-tight lg:text-5xl">
        {$t('CTA Title')}
      </h1>
      <p class="text-md mt-6 max-w-md font-light">
        {$t('CTA Subtitle')}
      </p>
      <div
        class="flex flex-col sm:flex-row sm:items-center md:flex-col md:items-start">
        <div class="pt-6">
          <Button type="button" on:click={onRequestCarClick}>
            <span slot="caption">{$t('Request car')}</span>
          </Button>
        </div>
        <div class="pt-6 sm:ml-6 sm:mt-2 md:ml-0 md:mt-0">
          <a
            href="https://asfromania.ro/uploads/articole/attachments/60782e77d3c1f489847957.pdf"
            target="_blank"
            rel="noreferrer"
            class="decoration-opacity-50 hover:decoration-brand-50 cursor-pointer text-xs font-light text-brand-950 underline decoration-brand-900 decoration-1 underline-offset-8 transition duration-200 ease-in hover:text-brand-600">
            {$t('Read more link')}
          </a>
        </div>
      </div>
    </div>
    <div class="-mx-6 mt-3 md:hidden">
      <img alt="hero photo" src="/images/hero_image_small.jpg" />
    </div>
    <h1 class="mt-12 text-3xl font-medium tracking-tight md:mt-24 lg:text-4xl">
      {$t('Home page subtitle 1')}
    </h1>
    <p class="text-md mt-6 max-w-2xl font-light">
      {$t('Home page paragraph 1')}
    </p>
    <p class="text-md mt-6 max-w-2xl font-light">
      {$t('Home page paragraph 2')}
    </p>
    <h1
      id="steps"
      class="mt-12 scroll-mt-24 text-3xl font-medium tracking-tight md:mt-12 lg:text-4xl">
      {$t('Rent Steps Title')}
    </h1>
    <nav aria-label="Progress" class="mt-8">
      <ol role="list" class="max-w-xl overflow-hidden">
        <li class="relative pb-6">
          <div
            class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-px bg-sky-600"
            aria-hidden="true" />
          <div class="group relative flex items-start">
            <span
              class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
            <span class="ml-6 flex min-w-0 flex-col">
              <span class="mt-1 font-medium tracking-wide text-sky-900"
                >1. {$t('Rent Steps Title 1')}</span>
              <span class="font-light">{$t('Rent Steps info 1')}</span>
            </span>
          </div>
        </li>
        <li class="relative pb-6">
          <div
            class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-px bg-sky-600"
            aria-hidden="true" />
          <div class="group relative flex items-start">
            <span
              class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
            <span class="ml-6 flex min-w-0 flex-col">
              <span class="mt-1 font-medium tracking-wide text-sky-900"
                >2. {$t('Rent Steps Title 2')}</span>
              <span class="font-light">{$t('Rent Steps info 2')}</span>
            </span>
          </div>
        </li>
        <li class="relative pb-6">
          <div
            class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-px bg-sky-600"
            aria-hidden="true" />
          <div class="group relative flex items-start">
            <span
              class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
            <span class="ml-6 flex min-w-0 flex-col">
              <span class="mt-1 font-medium tracking-wide text-sky-900"
                >3. {$t('Rent Steps Title 3')}</span>
              <span class="font-light">{$t('Rent Steps info 3')}</span>
            </span>
          </div>
        </li>
        <li class="relative pb-6">
          <div
            class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-px bg-sky-600"
            aria-hidden="true" />
          <div class="group relative flex items-start">
            <span
              class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
            <span class="ml-6 flex min-w-0 flex-col">
              <span class="mt-1 font-medium tracking-wide text-sky-900"
                >4. {$t('Rent Steps Title 4')}</span>
              <span class="font-light">{$t('Rent Steps info 4')}</span>
            </span>
          </div>
        </li>

        <li class="relative pb-6">
          <div class="group relative flex items-start">
            <span
              class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
            <span class="ml-6 flex min-w-0 flex-col">
              <span class="mt-1 font-medium tracking-wide text-sky-900"
                >5. {$t('Rent Steps Title 5')}</span>
            </span>
          </div>
        </li>
      </ol>
    </nav>
    <h1
      id="fleet"
      class="mt-12 scroll-mt-24 text-3xl font-medium tracking-tight lg:text-4xl">
      {$t('Fleet Section Title')}
    </h1>
    <p class="text-md mt-6 max-w-2xl font-light">
      {$t('Fleet Subtitle')}
    </p>

    <div
      class="-mx-4 mt-6 divide-y divide-gray-200 overflow-hidden bg-gray-200 shadow-md sm:mx-0 sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
      <div class="group relative bg-white p-6">
        <div class="w-full">
          <span class="inline-flex p-0 ">
            <picture>
              <source
                media="(max-width:400px)"
                srcset="/images/compact_car_i5vwis_c_scale,w_400.webp" />
              <img src="/images/compact_car_i5vwis_c_scale,w_828.webp" />
            </picture>
          </span>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-sky-900">
            {$t('Compact')}
          </h3>
          <p class="mt-2 text-sm font-light">
            {$t('Fleet Compact Details')}
          </p>
        </div>
      </div>
      <div class="group relative bg-white p-6">
        <div class="w-full">
          <span class="inline-flex p-0 ">
            <picture>
              <source
                media="(max-width:400px)"
                srcset="/images/intermediate_car_ufd2xe_c_scale,w_400.webp" />
              <img src="/images/intermediate_car_ufd2xe_c_scale,w_663.webp" />
            </picture>
          </span>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-sky-900">
            {$t('Intermediate')}
          </h3>
          <p class="mt-2 text-sm font-light">
            {$t('Fleet Intermediate Details')}
          </p>
        </div>
      </div>
      <div class="group relative bg-white p-6">
        <div class="w-full">
          <span class="inline-flex p-0 ">
            <picture>
              <source
                media="(max-width:400px)"
                srcset="/images/suv_car_tocmad_c_scale,w_400.webp" />
              <img src="/images/suv_car_tocmad_c_scale,w_672.webp" />
            </picture>
          </span>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-sky-900">
            {$t('SUV superior')}
          </h3>
          <p class="mt-2 text-sm font-light">
            {$t('Fleet SUV Details')}
          </p>
        </div>
      </div>
      <div class="group relative bg-white p-6">
        <div class="w-full">
          <span class="inline-flex p-0 ">
            <picture>
              <source
                media="(max-width:400px)"
                srcset="/images/premium_index_jg0arl_c_scale,w_400.webp" />
              <img src="/images/premium_index_jg0arl_c_scale,w_600.webp" />
            </picture>
          </span>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-medium text-sky-900">
            {$t('Premium')}
          </h3>
          <p class="mt-2 text-sm font-light">
            {$t('Fleet Premium Details')}
          </p>
        </div>
      </div>
    </div>

    <h1 class="mt-20 text-3xl font-medium tracking-tight lg:text-4xl">
      {$t('FAQ Title')}
    </h1>

    <div class="mt-6 max-w-2xl">
      <details
        class="transition-all duration-200 ease-in-out open:-mx-4 open:bg-white open:p-4 open:shadow-md sm:open:-mx-0">
        <summary class="cursor-pointer font-medium leading-6 text-sky-900"
          >{$t('FAQ Title 1')}</summary>
        <div class="mt-3">
          <p class="text-sm font-light">
            {$t('FAQ 1 Content')}
          </p>
        </div>
      </details>
    </div>
    <div class="mt-6 max-w-2xl">
      <details
        class="transition-all duration-200 ease-in-out open:-mx-4 open:bg-white open:p-4 open:shadow-md sm:open:-mx-0">
        <summary class="cursor-pointer font-medium leading-6 text-sky-900"
          >{$t('FAQ Title 2')}</summary>
        <div class="mt-3">
          <p class="text-sm font-light">
            {$t('FAQ 2 Content')}
          </p>
        </div>
      </details>
    </div>
    <div class="mt-6 max-w-2xl">
      <details
        class="transition-all duration-200 ease-in-out open:-mx-4 open:bg-white open:p-4 open:shadow-md sm:open:-mx-0">
        <summary class="cursor-pointer font-medium leading-6 text-sky-900"
          >{$t('FAQ Title 3')}</summary>
        <div class="mt-3">
          <p class="text-sm font-light">
            {$t('FAQ 3 Content')}
          </p>
        </div>
      </details>
    </div>
    <div class="mt-6 max-w-2xl">
      <details
        class="transition-all duration-200 ease-in-out open:-mx-4 open:bg-white open:p-4 open:shadow-md sm:open:-mx-0">
        <summary class="cursor-pointer font-medium leading-6 text-sky-900"
          >{$t('FAQ Title 4')}</summary>
        <div class="mt-3">
          <p class="text-sm font-light">
            {$t('FAQ 4 Content')}
          </p>
        </div>
      </details>
    </div>
  </main>
</div>
