<script>
  import { t } from 'svelte-intl-precompile'

  const openById = {
    1: false,
    2: false,
    3: false,
    4: false,
  }

  const scrollToElement = elementId => {
    const element = document.getElementById(elementId)
    element.scrollIntoView()
  }

  const setToggleState = (id, isOpen) => {
    if (isOpen) {
      scrollToElement(id)
      openById[id] = true
    } else {
      openById[id] = false
    }
  }
</script>

<svelte:head>
  <title>Allianz-Hoffmann | {$t('Rent A Car Page Title')}</title>
</svelte:head>

<div class="bg-brand-200">
  <main
    class="mx-auto -mb-16 w-full max-w-7xl overflow-hidden lg:mb-0 lg:pb-12">
    <!-- Header -->
    <div class="px-4 pb-8 sm:px-6 lg:py-12 lg:px-8 lg:pb-16">
      <div class="relative z-10 mx-auto max-w-7xl">
        <h1 class="mt-2 text-4xl font-medium tracking-tight sm:text-5xl">
          {$t('Rent A Car Title')}
        </h1>
        <p class="mt-6 max-w-3xl text-xl font-light">
          {$t('Rent A Car subtitle')}
        </p>
      </div>
    </div>
    <details
      id="1"
      on:toggle={({ target }) => setToggleState(1, target.open)}
      class="relative cursor-pointer scroll-mt-6 hover:brightness-90 hover:transition hover:duration-200 hover:ease-in-out open:hover:brightness-100 md:px-8 lg:scroll-mt-12"
      aria-labelledby="contact-heading">
      <summary class="mx-auto max-w-7xl">
        <div class="relative shadow-md shadow-brand-400">
          <div
            class={`grid grid-cols-1  ${
              openById[1] ? 'lg:grid-cols-1' : 'lg:grid-cols-3'
            }`}>
            <div class={`${openById[1] ? '' : 'lg:col-span-2'}`}>
              <picture>
                <source
                  media="(max-width:400px)"
                  srcset="/images/compact_car_i5vwis_c_scale,w_400.webp" />
                <source
                  media="(max-width:828px)"
                  srcset="/images/compact_car_i5vwis_c_scale,w_828.webp" />
                <img src="/images/compact_car_i5vwis_c_scale,w_960.webp" />
              </picture>
            </div>
            <div
              class="relative overflow-hidden bg-gradient-to-b from-brand-200 to-brand-300 px-6 py-10 text-brand-800 sm:px-10 xl:p-12">
              <div
                class="pointer-events-none absolute inset-0 sm:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="343"
                  height="388"
                  viewBox="0 0 343 388"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                    fill="url(#linear1)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear1"
                      x1="254.553"
                      y1="107.554"
                      x2="961.66"
                      y2="814.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 sm:block lg:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="359"
                  height="339"
                  viewBox="0 0 359 339"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                    fill="url(#linear2)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear2"
                      x1="192.553"
                      y1="28.553"
                      x2="899.66"
                      y2="735.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 lg:block"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="160"
                  height="678"
                  viewBox="0 0 160 678"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                    fill="url(#linear3)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear3"
                      x1="192.553"
                      y1="325.553"
                      x2="899.66"
                      y2="1032.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <h3 class="text-lg font-medium text-sky-900">
                {$t('Compact')}
              </h3>
              <p class="mt-6 max-w-3xl font-light text-brand-700">
                {$t('Rent Car Compact')}
              </p>
              <p
                class={`max-w-3xl font-light text-brand-700 ${
                  openById[1] ? 'hidden' : ''
                }`}>
                {$t('70 euro/day')}
              </p>
            </div>
          </div>
        </div>
      </summary>
      <div
        class="relative cursor-default overflow-hidden bg-gradient-to-t from-brand-200 to-brand-300 px-6 py-10 pt-0 text-brand-800 shadow-md shadow-brand-400 sm:px-10 xl:p-12">
        <h1 class="text-3xl font-medium tracking-tight lg:text-4xl">
          {$t('70 euro/day subtitle')}
        </h1>
        <p class="text-md my-6 max-w-2xl font-light">
          {$t('service fuel policy')}
        </p>
        <h2 class="text-xl font-medium tracking-tight lg:text-2xl">
          {$t('service title')}
        </h2>
        <p class="mt-6 mb-3 max-w-2xl text-lg font-light">
          {$t('service subtitle')}
        </p>
        <ul>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 1')}</h3>
            <div>
              {$t('service description 1')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 2')}</h3>
            <div>
              {$t('service description 2')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 3')}</h3>
            <div>
              {$t('service description 3')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 4')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 5')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 6')}</h3>
            <div>
              {$t('service description 6')}
              <div>
                {$t('service description 7')}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </details>
    <details
      id="2"
      on:toggle={({ target }) => setToggleState(2, target.open)}
      class="relative cursor-pointer scroll-mt-6 hover:brightness-90 hover:transition hover:duration-200 hover:ease-in-out open:hover:brightness-100 md:px-8 lg:mt-24 lg:scroll-mt-12"
      aria-labelledby="contact-heading">
      <summary class="mx-auto max-w-7xl">
        <div class="relative shadow-md shadow-brand-400">
          <div
            class={`grid grid-cols-1  ${
              openById[2] ? 'lg:grid-cols-1' : 'lg:grid-cols-3'
            }`}>
            <!-- Contact form -->
            <div class="lg:col-span-2 lg:hidden">
              <picture>
                <source
                  media="(max-width:400px)"
                  srcset="/images/intermediate_car_ufd2xe_c_scale,w_400.webp" />
                <source
                  media="(max-width:640px)"
                  srcset="/images/intermediate_car_ufd2xe_c_scale,w_663.webp" />
                <source
                  media="(max-width:1024px)"
                  srcset="/images/intermediate_car_ufd2xe_c_scale,w_960.webp" />
                <img src="/images/intermediate_car_ufd2xe_c_scale,w_960.webp" />
              </picture>
            </div>
            <!-- Contact information -->
            <div
              class={`relative overflow-hidden bg-gradient-to-b from-brand-200 to-brand-300 px-6  text-brand-800 sm:px-10 xl:p-12 ${
                openById[2] ? 'lg:hidden' : 'py-10'
              }`}>
              <!-- Decorative angle backgrounds -->
              <div class={`${openById[2] ? 'hidden' : ''}`}>
                <div
                  class="pointer-events-none absolute inset-0 sm:hidden"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="343"
                    height="388"
                    viewBox="0 0 343 388"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                      fill="url(#linear1)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear1"
                        x1="254.553"
                        y1="107.554"
                        x2="961.66"
                        y2="814.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 sm:block lg:hidden"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="359"
                    height="339"
                    viewBox="0 0 359 339"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                      fill="url(#linear2)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear2"
                        x1="192.553"
                        y1="28.553"
                        x2="899.66"
                        y2="735.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 lg:block"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="160"
                    height="678"
                    viewBox="0 0 160 678"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                      fill="url(#linear3)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear3"
                        x1="192.553"
                        y1="325.553"
                        x2="899.66"
                        y2="1032.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>

                <h3 class="text-lg font-medium text-sky-900">
                  {$t('Intermediate')}
                </h3>
                <p class="mt-6 max-w-3xl font-light text-brand-700">
                  {$t('Rent Car Intermediate')}
                </p>
                <p class="max-w-3xl font-light text-brand-700">
                  {$t('80 euro/day')}
                </p>
              </div>
            </div>
            <!-- Contact form -->
            <div class="hidden lg:col-span-2 lg:block">
              <div class="lg:col-span-2">
                <picture>
                  <source
                    media="(max-width:400px)"
                    srcset="/images/intermediate_car_ufd2xe_c_scale,w_400.webp" />
                  <source
                    media="(max-width:640px)"
                    srcset="/images/intermediate_car_ufd2xe_c_scale,w_663.webp" />
                  <source
                    media="(max-width:1024px)"
                    srcset="/images/intermediate_car_ufd2xe_c_scale,w_960.webp" />
                  <img
                    src="/images/intermediate_car_ufd2xe_c_scale,w_960.webp" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </summary>
      <div
        class="relative cursor-default overflow-hidden bg-gradient-to-t from-brand-200 to-brand-300 px-6 py-10 pt-0 text-brand-800 shadow-md shadow-brand-400 sm:px-10 xl:p-12">
        {#if openById[2]}
          <h3 class=" my-6 text-lg font-medium text-sky-900">
            {$t('Intermediate')}
          </h3>
          <p class=" my-6  mt-6 max-w-3xl font-light text-brand-700">
            {$t('Rent Car Intermediate')}
          </p>
        {/if}
        <h1 class="text-3xl font-medium tracking-tight lg:text-4xl">
          {$t('80 euro/day subtitle')}
        </h1>
        <p class="text-md my-6 max-w-2xl font-light">
          {$t('service fuel policy')}
        </p>
        <h2 class="text-xl font-medium tracking-tight lg:text-2xl">
          {$t('service title')}
        </h2>
        <p class="mt-6 mb-3 max-w-2xl text-lg font-light">
          {$t('service subtitle')}
        </p>
        <ul>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 1')}</h3>
            <div>
              {$t('service description 1')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 2')}</h3>
            <div>
              {$t('service description 2')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 3')}</h3>
            <div>
              {$t('service description 3')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 4')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 5')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 6')}</h3>
            <div>
              {$t('service description 6')}
              <div>
                {$t('service description 7')}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </details>
    <details
      id="3"
      on:toggle={({ target }) => setToggleState(3, target.open)}
      class="relative cursor-pointer scroll-mt-6 hover:brightness-90 hover:transition hover:duration-200 hover:ease-in-out open:hover:brightness-100 md:px-8 lg:mt-24 lg:scroll-mt-12"
      aria-labelledby="contact-heading">
      <summary class="mx-auto max-w-7xl">
        <div class="relative shadow-md shadow-brand-400">
          <div
            class={`grid grid-cols-1  ${
              openById[3] ? 'lg:grid-cols-1' : 'lg:grid-cols-3'
            }`}>
            <div class={`${openById[3] ? '' : 'lg:col-span-2'}`}>
              <picture>
                <source
                  media="(max-width:400px)"
                  srcset="/images/suv_car_tocmad_c_scale,w_400.webp" />
                <source
                  media="(max-width:672px)"
                  srcset="/images/suv_car_tocmad_c_scale,w_672.webp" />
                <img src="/images/suv_car_tocmad_c_scale,w_960.webp" />
              </picture>
            </div>
            <!-- Contact information -->
            <div
              class="relative overflow-hidden bg-gradient-to-b from-brand-200 to-brand-300 px-6 py-10 text-brand-800 sm:px-10 xl:p-12">
              <!-- Decorative angle backgrounds -->
              <div
                class="pointer-events-none absolute inset-0 sm:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="343"
                  height="388"
                  viewBox="0 0 343 388"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                    fill="url(#linear1)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear1"
                      x1="254.553"
                      y1="107.554"
                      x2="961.66"
                      y2="814.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 sm:block lg:hidden"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="359"
                  height="339"
                  viewBox="0 0 359 339"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                    fill="url(#linear2)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear2"
                      x1="192.553"
                      y1="28.553"
                      x2="899.66"
                      y2="735.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <div
                class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 lg:block"
                aria-hidden="true">
                <svg
                  class="absolute inset-0 h-full w-full"
                  width="160"
                  height="678"
                  viewBox="0 0 160 678"
                  fill="none"
                  preserveAspectRatio="xMidYMid slice"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                    fill="url(#linear3)"
                    fill-opacity=".1" />
                  <defs>
                    <linearGradient
                      id="linear3"
                      x1="192.553"
                      y1="325.553"
                      x2="899.66"
                      y2="1032.66"
                      gradientUnits="userSpaceOnUse">
                      <stop stop-color="#fff" />
                      <stop offset="1" stop-color="#fff" stop-opacity="0" />
                    </linearGradient>
                  </defs>
                </svg>
              </div>
              <h3 class="text-lg font-medium text-sky-900">
                {$t('SUV superior')}
              </h3>
              <p class="mt-6 max-w-3xl font-light text-brand-700">
                {$t('Rent Car SUV')}
              </p>
              <p
                class={`max-w-3xl font-light text-brand-700 ${
                  openById[3] ? 'hidden' : ''
                }`}>
                {$t('130 euro/day')}
              </p>
            </div>
          </div>
        </div>
      </summary>
      <div
        class="relative cursor-default overflow-hidden bg-gradient-to-t from-brand-200 to-brand-300 px-6 py-10 pt-0 text-brand-800 shadow-md shadow-brand-400 sm:px-10 xl:p-12">
        <h1 class="text-3xl font-medium tracking-tight lg:text-4xl">
          {$t('130 euro/day subtitle')}
        </h1>
        <p class="text-md my-6 max-w-2xl font-light">
          {$t('service fuel policy')}
        </p>
        <h2 class="text-xl font-medium tracking-tight lg:text-2xl">
          {$t('service title')}
        </h2>
        <p class="mt-6 mb-3 max-w-2xl text-lg font-light">
          {$t('service subtitle')}
        </p>
        <ul>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 1')}</h3>
            <div>
              {$t('service description 1')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 2')}</h3>
            <div>
              {$t('service description 2')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 3')}</h3>
            <div>
              {$t('service description 3')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 4')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 5')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 6')}</h3>
            <div>
              {$t('service description 6')}
              <div>
                {$t('service description 7')}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </details>
    <details
      id="4"
      on:toggle={({ target }) => setToggleState(4, target.open)}
      class="relative cursor-pointer scroll-mt-6 hover:brightness-90 hover:transition hover:duration-200 hover:ease-in-out open:hover:brightness-100 md:px-8 lg:mt-24 lg:scroll-mt-12"
      aria-labelledby="contact-heading">
      <summary class="mx-auto max-w-7xl">
        <div class="relative shadow-md shadow-brand-400">
          <div
            class={`grid grid-cols-1  ${
              openById[4] ? 'lg:grid-cols-1' : 'lg:grid-cols-3'
            }`}>
            <!-- Contact form -->
            <div class="lg:col-span-2 lg:hidden">
              <picture>
                <source
                  media="(max-width:400px)"
                  srcset="/images/premium_car2_nefauu_c_scale,w_400.webp" />
                <img src="/images/premium_car2_nefauu_c_scale,w_960.webp" />
              </picture>
            </div>
            <!-- Contact information -->
            <div
              class={`relative overflow-hidden bg-gradient-to-b from-brand-200 to-brand-300 px-6  text-brand-800 sm:px-10 xl:p-12 ${
                openById[4] ? 'lg:hidden' : 'py-10'
              }`}>
              <!-- Decorative angle backgrounds -->
              <div class={`${openById[4] ? 'hidden' : ''}`}>
                <div
                  class="pointer-events-none absolute inset-0 sm:hidden"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="343"
                    height="388"
                    viewBox="0 0 343 388"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                      fill="url(#linear1)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear1"
                        x1="254.553"
                        y1="107.554"
                        x2="961.66"
                        y2="814.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 sm:block lg:hidden"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="359"
                    height="339"
                    viewBox="0 0 359 339"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                      fill="url(#linear2)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear2"
                        x1="192.553"
                        y1="28.553"
                        x2="899.66"
                        y2="735.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <div
                  class="pointer-events-none absolute top-0 bottom-0 right-0 hidden w-1/2 lg:block"
                  aria-hidden="true">
                  <svg
                    class="absolute inset-0 h-full w-full"
                    width="160"
                    height="678"
                    viewBox="0 0 160 678"
                    fill="none"
                    preserveAspectRatio="xMidYMid slice"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                      fill="url(#linear3)"
                      fill-opacity=".1" />
                    <defs>
                      <linearGradient
                        id="linear3"
                        x1="192.553"
                        y1="325.553"
                        x2="899.66"
                        y2="1032.66"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff" />
                        <stop offset="1" stop-color="#fff" stop-opacity="0" />
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <h3 class="text-lg font-medium text-sky-900">
                  {$t('Premium')}
                </h3>
                <p class="mt-6 max-w-3xl font-light text-brand-700">
                  {$t('Rent Car Premium')}
                </p>
                <p class="max-w-3xl font-light text-brand-700">
                  {$t('200 euro/day')}
                </p>
              </div>
            </div>
            <!-- Contact form -->
            <div class="hidden lg:col-span-2 lg:block">
              <picture>
                <source
                  media="(max-width:400px)"
                  srcset="/images/premium_car2_nefauu_c_scale,w_400.webp" />
                <img src="/images/premium_car2_nefauu_c_scale,w_960.webp" />
              </picture>
            </div>
          </div>
        </div>
      </summary>
      <div
        class="relative cursor-default overflow-hidden bg-gradient-to-t from-brand-200 to-brand-300 px-6 py-10 pt-0 text-brand-800 shadow-md shadow-brand-400 sm:px-10 xl:p-12">
        {#if openById[4]}
          <h3 class="my-6 text-lg font-medium text-sky-900">
            {$t('Premium')}
          </h3>
          <p class="my-6 mt-6 max-w-3xl font-light text-brand-700">
            {$t('Rent Car Premium')}
          </p>
        {/if}
        <h1 class="text-3xl font-medium tracking-tight lg:text-4xl">
          {$t('200 euro/day subtitle')}
        </h1>
        <p class="text-md my-6 max-w-2xl font-light">
          {$t('service fuel policy')}
        </p>
        <h2 class="text-xl font-medium tracking-tight lg:text-2xl">
          {$t('service title')}
        </h2>
        <p class="mt-6 mb-3 max-w-2xl text-lg font-light">
          {$t('service subtitle')}
        </p>
        <ul>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 1')}</h3>
            <div>
              {$t('service description 1')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 2')}</h3>
            <div>
              {$t('service description 2')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 3')}</h3>
            <div>
              {$t('service description 3')}
            </div>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 4')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 5')}</h3>
          </li>
          <li class="mb-3">
            <h3 class="mb-0 text-lg">{$t('service title 6')}</h3>
            <div>
              {$t('service description 6')}
              <div>
                {$t('service description 7')}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </details>
  </main>
</div>

<style>
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
</style>
