<script>
  // @ts-nocheck

  import { t } from 'svelte-intl-precompile'
  import { createForm } from 'svelte-forms-lib'
  import * as yup from 'yup'
  import Recaptcha from './../components/Recaptcha.svelte'
  import Button from './../UI/Button.svelte'
  import { onDestroy } from 'svelte'

  let formError = false
  let emailSent = false

  let isLoading = false

  const handleAlertClick = () => {
    if (emailSent) {
      emailSent = false
    }
    if (formError) {
      formError = false
    }
  }

  const { form, errors, handleChange, handleSubmit, handleReset } = createForm({
    initialValues: {
      fName: '',
      lName: '',
      phone: '',
      email: '',
      faultOption: '',
      brokerName: '',
      location: '',
      idPlate: '',
      sourceSelect: '',
      privacyCheckbox: false,
    },
    validationSchema: yup.object().shape({
      fName: yup
        .string()
        .required('Form error fName required')
        .min(3, 'Form error fName length'),
      lName: yup
        .string()
        .required('Form error lName required')
        .min(3, 'Form error fName length'),

      phone: yup.string().required('Form error PN required'),
      faultOption: yup.string().required('Form error Required'),
      email: yup
        .string()
        .required('Form error email required')
        .email('Form error email format'),
      brokerName: yup.string().required('Form error insurer required'),
      location: yup.string().required('Form error location required'),
      idPlate: yup.string().required('Form error plate required'),
      sourceSelect: yup.string(),
      privacyCheckbox: yup.bool(),
    }),
    onSubmit: () => {
      isLoading = true
      window.grecaptcha.execute()
    },
  })

  let timeout = null
  const verifyCaptchaToken = async token => {
    const response = await fetch('/.netlify/functions/verifyRecaptchaToken', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        recaptchaToken: token,
      }),
    })
    if (response.status === 200) {
      const emailSendResponse = await fetch('/.netlify/functions/sendEmail', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify($form),
      })
      if (emailSendResponse.status === 200) {
        isLoading = false
        emailSent = true
        timeout = setTimeout(() => (emailSent = false), 5000)
        handleReset()
      } else {
        isLoading = false
        formError = true
        timeout = setTimeout(() => (formError = false), 5000)
      }
    } else {
      isLoading = false
      formError = true
      timeout = setTimeout(() => (formError = false), 5000)
    }
  }

  onDestroy(() => clearTimeout(timeout))
</script>

<svelte:head>
  <title>Allianz-Hoffmann | {$t('Replacement Car Page Title')}</title>
</svelte:head>

<Recaptcha {verifyCaptchaToken} />

<div class="mx-auto px-6 text-brand-900 sm:max-w-5xl">
  <div class="grid-rows-12 grid">
    <div class="row-span-10">
      <div class="lg:grid lg:grid-cols-2 lg:bg-sky-100 lg:p-10">
        <div class="lg:col-span-1">
          <div>
            <h1 class="mb-4 text-2xl font-medium lg:mb-8 lg:text-3xl">
              {$t('Replacement Car Form Title 1')}
            </h1>
            <p class="font-light">
              {$t('Replacement Car Form Subtitle 1')}
            </p>
            <p class="mb-8 font-light">
              {$t('Replacement Car Form Subtitle 2')}
            </p>
          </div>
          <!-- svelte-ignore a11y-img-redundant-alt -->
          <img
            class="hidden w-5/6 opacity-75 lg:mt-36 lg:block"
            src="/images/background_form.png"
            alt="car image" />
        </div>
        <div class="lg:col-span-1">
          <div class="lg:max-w-[500px] lg:pl-20">
            <form class="space-y-6" on:submit|preventDefault={handleSubmit}>
              <h1
                class="mb-3 hidden text-2xl font-medium sm:block lg:mb-4 lg:text-3xl">
                {$t('Replacement Car Form Title 2')}
              </h1>
              <div class="grid grid-cols-1 gap-y-3 gap-x-4 pt-0 sm:grid-cols-6">
                <div class="sm:col-span-3">
                  <div class="mt-1">
                    <input
                      type="text"
                      name="fName"
                      id="fName"
                      spellcheck="false"
                      placeholder={$t('Form fName')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.fName}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.fName
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.fName}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.fName}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-3">
                  <div class="mt-1">
                    <input
                      type="text"
                      name="lName"
                      id="lName"
                      placeholder={$t('Form lName')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.lName}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.lName
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.lName}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.lName}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <div class="mt-1">
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      placeholder={$t('Form PN')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.phone}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.phone
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.phone}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.phone}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <div class="mt-1">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      placeholder={$t('Form email')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.email}
                      autocomplete="email"
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.email
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.email}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.email}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <fieldset class="">
                    <legend class="sr-only"> Choose an option</legend>
                    <div class="sm:col-span-6">
                      <div class="mt-1">
                        <select
                          id="faultOption"
                          name="faultOption"
                          disabled={isLoading}
                          on:change={handleChange}
                          bind:value={$form.faultOption}
                          class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                            $errors.faultOption
                              ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                              : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                          }`}>
                          <option hidden disabled selected value>
                            {$t('Form fault Q')}
                          </option>
                          <option>{$t('Form No')}</option>
                          <option>{$t('Form Yes')}</option>
                          <option>{$t('Form Not Sure')}</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                  {#if $errors.faultOption}
                    <small class="my-2 block h-1 text-xs text-rose-400">
                      {$t(`${$errors.faultOption}`)}
                    </small>
                  {/if}
                </div>

                <div class="sm:col-span-6">
                  <div class="mt-1">
                    <input
                      type="text"
                      name="brokerName"
                      id="brokerName"
                      placeholder={$t('Form Insurer')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.brokerName}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.brokerName
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.brokerName}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.brokerName}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <div class="mt-1">
                    <input
                      type="text"
                      name="location"
                      id="location"
                      placeholder={$t('Form Location')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.location}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.location
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.location}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.location}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <div class="mt-1">
                    <input
                      type="text"
                      name="idPlate"
                      id="idPlate"
                      placeholder={$t('Form Plate')}
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.idPlate}
                      class={`duration-400 w-full border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out placeholder:font-extralight placeholder:text-brand-500 focus:font-medium disabled:opacity-50 disabled:ring-transparent overflow-ellipsis${
                        $errors.idPlate
                          ? ' bg-rose-100 ring-1 ring-rose-400 focus:border-brand-900 focus:ring-brand-900'
                          : 'hover:border-brand-900 hover:ring-1 hover:ring-brand-900 focus:border-brand-900  focus:ring-1 focus:ring-brand-900'
                      }`} />
                    {#if $errors.idPlate}
                      <small class="my-2 block h-1 text-xs text-rose-400">
                        {$t(`${$errors.idPlate}`)}
                      </small>
                    {/if}
                  </div>
                </div>

                <div class="mb-2 sm:col-span-6 lg:mb-4">
                  <div class="mt-1">
                    <select
                      id="sourceSelect"
                      name="sourceSelect"
                      disabled={isLoading}
                      on:change={handleChange}
                      bind:value={$form.sourceSelect}
                      class={'duration-400 hover:border-branextrafont-extralighthover:ring-1 w-full overflow-ellipsis border-none bg-white bg-opacity-80 font-light text-brand-900 transition-colors ease-in-out hover:ring-brand-900 focus:border-brand-900 focus:font-medium focus:ring-1  focus:ring-brand-900 disabled:opacity-50 disabled:ring-transparent'}>
                      <option hidden disabled selected value>
                        {$t('Form Recommendation')}
                      </option>
                      <option>{$t('Form option Service')}</option>
                      <option>{$t('Form option Broker')}</option>
                      <option>{$t('Form option Facebook')}</option>
                      <option>{$t('Form option Google')}</option>
                      <option>{$t('Form option Friend Recommendation')}</option>
                      <option>{$t('Form option Advertising')}</option>
                      <option>{$t('Form option Newsletter')}</option>
                      <option>{$t('Form option Other')}</option>
                    </select>
                  </div>
                </div>

                <div class="mb-6 sm:col-span-6">
                  <fieldset class="space-y-5">
                    <div class="relative flex items-start">
                      <div class="flex h-5 items-center">
                        <label
                          for="privacyCheckbox"
                          class={`cursor-pointer ${
                            isLoading ? 'cursor-default opacity-50' : ''
                          }`}>
                          <input
                            id="privacyCheckbox"
                            aria-describedby="privacy-checkbox"
                            name="privacyCheckbox"
                            type="checkbox"
                            disabled={isLoading}
                            on:change={handleChange}
                            bind:value={$form.privacyCheckbox}
                            class="h-4 w-4 cursor-pointer bg-brand-200 checked:text-brand-900 checked:ring-0 focus:ring-0 disabled:cursor-default disabled:opacity-50 " />
                          <span
                            id="comments-description"
                            class="ml-3 text-sm font-light">
                            {$t('Form Newsletter')}</span>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                {#if emailSent}
                  <div
                    class="border-[1px] border-teal-400 bg-teal-50 p-2 sm:col-span-6">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/check-circle -->
                        <svg
                          class="h-5 w-5 text-teal-400"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true">
                          <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="ml-3">
                        <p class="mt-0.5 text-sm font-light text-teal-800">
                          {$t('Form success email sent')}
                        </p>
                      </div>
                      <div class="ml-auto pl-3">
                        <div class="-mx-1.5 -my-1.5">
                          <button
                            on:click={handleAlertClick}
                            type="button"
                            class="inline-flex bg-teal-50  p-1.5 text-teal-500 focus:outline-none  focus:ring-teal-100">
                            <span class="sr-only">Close</span>
                            <!-- Heroicon name: solid/x -->
                            <svg
                              class="duration-400 h-5 w-5 transition-colors ease-in-out hover:text-teal-300"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              aria-hidden="true">
                              <path
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                {/if}
                {#if formError}
                  <div
                    class="border-[1px] border-rose-400 bg-rose-50 p-2 sm:col-span-6">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <!-- Heroicon name: solid/check-circle -->
                        <svg
                          class="h-5 w-5 text-rose-400"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true">
                          <path
                            fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd" />
                        </svg>
                      </div>
                      <div class="ml-3">
                        <p class="mt-0.5 text-sm font-medium text-rose-800">
                          {$t('Form error email sent')}
                        </p>
                      </div>
                      <div class="ml-auto pl-3">
                        <div class="-mx-1.5 -my-1.5">
                          <button
                            on:click={handleAlertClick}
                            type="button"
                            class="inline-flex bg-rose-50  p-1.5 text-rose-500 focus:outline-none  focus:ring-rose-100">
                            <span class="sr-only">Dismiss</span>
                            <!-- Heroicon name: solid/x -->
                            <svg
                              class="duration-400 h-5 w-5 transition-colors ease-in-out hover:text-rose-300"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              ariaForm
                              error
                              fName-hidden="true">
                              <path
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                {/if}
              </div>

              <div class="flex justify-end">
                <Button {isLoading} type="submit">
                  <span slot="caption">{$t('Form submit button')}</span>
                </Button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row-span-2 mt-16 max-w-xl">
      <h1 class="mb-4 text-2xl font-medium sm:block lg:mb-6 lg:text-3xl">
        {$t('Steps Section Title')}
      </h1>

      <nav aria-label="Progress">
        <ol role="list" class="overflow-hidden">
          <li class="relative pb-6">
            <div
              class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-[1px] bg-sky-600"
              aria-hidden="true" />
            <div class="group relative flex items-start">
              <span
                class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
              <span class="ml-6 flex min-w-0 flex-col">
                <span class="mt-1 font-medium tracking-wide text-sky-900"
                  >1. {$t('Rent Steps Title 1')}</span>
                <span class="font-light">{$t('Rent Steps info 1')}</span>
              </span>
            </div>
          </li>
          <li class="relative pb-6">
            <div
              class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-[1px] bg-sky-600"
              aria-hidden="true" />
            <div class="group relative flex items-start">
              <span
                class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
              <span class="ml-6 flex min-w-0 flex-col">
                <span class="mt-1 font-medium tracking-wide text-sky-900"
                  >2. {$t('Rent Steps Title 2')}</span>
                <span class="font-light">{$t('Rent Steps info 2')}</span>
              </span>
            </div>
          </li>
          <li class="relative pb-6">
            <div
              class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-[1px] bg-sky-600"
              aria-hidden="true" />
            <div class="group relative flex items-start">
              <span
                class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
              <span class="ml-6 flex min-w-0 flex-col">
                <span class="mt-1 font-medium tracking-wide text-sky-900"
                  >3. {$t('Rent Steps Title 3')}</span>
                <span class="font-light">{$t('Rent Steps info 3')}</span>
              </span>
            </div>
          </li>
          <li class="relative pb-6">
            <div
              class="absolute top-4 left-4 -ml-px mt-0.5 h-full w-[1px] bg-sky-600"
              aria-hidden="true" />
            <div class="group relative flex items-start">
              <span
                class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
              <span class="ml-6 flex min-w-0 flex-col">
                <span class="mt-1 font-medium tracking-wide text-sky-900"
                  >4. {$t('Rent Steps Title 4')}</span>
                <span class="font-light">{$t('Rent Steps info 4')}</span>
              </span>
            </div>
          </li>

          <li class="relative pb-6">
            <div class="group relative flex items-start">
              <span
                class="z-10 mt-3 ml-3 flex h-2 w-2 flex-shrink-0 items-center justify-center bg-sky-700" />
              <span class="ml-6 flex min-w-0 flex-col">
                <span class="mt-1 font-medium tracking-wide text-sky-900"
                  >5. {$t('Rent Steps Title 5')}</span>
              </span>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
