<script>
  export let isLoading = false
  export let type = 'submit'
  export let theme = 'normal'
</script>

<button
  on:click
  disabled={isLoading}
  {type}
  class="duration-400 inline-flex w-full justify-center bg-brand-900 bg-opacity-100 px-6 py-2 text-white transition-colors ease-in-out hover:bg-opacity-90 focus:outline-none disabled:opacity-50 sm:w-auto">
  {#if isLoading}
    <div class="flex items-center justify-center">
      <div
        class="mb-1 mr-2 h-4 w-4 animate-spin rounded-full border-b-2 border-brand-200" />
      <slot name="caption" />
    </div>
  {:else}
    <slot name="caption" />
  {/if}
</button>
