<script>
  // @ts-nocheck

  import variables from './../constants/envVariables'
  import { onMount, onDestroy } from 'svelte'
  import { bootCaptcha } from '@utils/bootCaptcha'
  import { locale } from 'svelte-intl-precompile'

  export let verifyCaptchaToken

  let loadedCaptcha = false

  const RECAPTCHA_SITE_KEY = variables.recaptchaSiteKey

  const resetCaptcha = () => window.grecaptcha.reset()

  const handleCaptchaCallback = async token => {
    verifyCaptchaToken(token)
    // reset recaptcha for future requests
    resetCaptcha()
  }

  let response = null

  onMount(async () => {
    try {
      response = await bootCaptcha()
      loadedCaptcha = true
      setTimeout(() => {
        window.grecaptcha.render('recaptcha_element', {
          sitekey: RECAPTCHA_SITE_KEY,
          callback: handleCaptchaCallback,
          'expired-callback': resetCaptcha,
          'error-callback': resetCaptcha,
          size: 'invisible',
          hl: $locale,
          theme: 'dark',
          badge: 'bottomleft',
        })
      }, 1000)
    } catch (e) {
      console.log(e)
    }
  })

  onDestroy(() => {})
</script>

{#if response}
  <div id="recaptcha_element" />
{/if}
