@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles will NOT be purged */
@layer base {
  ::selection {
    background: theme('colors.teal.100');
  }

  :root {
    accent-color: #17181a;

    /* Default styles */
    font-size: 16px;
    font-weight: 400;
    scrollbar-color: #37393e #17181a;
    scrollbar-width: auto;
    -webkit-tap-highlight-color: transparent;

    /* Remove default touch blue highlight */
    -webkit-touch-callout: none;

    @apply h-full;
    @apply antialiased;
  }

  /* If you're building a web app you may want native style momentum scrolling in iOS 5+ using */
  /* -webkit-overflow-scrolling: touch; */

  /* -webkit-overflow-scrolling: touch; */

  /* Global styles */
  a {
    @apply text-green-600;
  }

  input {
    @apply bg-brand-400;
  }

  h1 {
    @apply text-lg md:text-3xl;
    @apply text-gray-700;
    @apply font-light;
  }

  h2 {
    @apply text-xl;
    @apply text-gray-600;
    @apply mb-2;
  }

  h3 {
    @apply text-gray-600;
    @apply mb-2;
  }
}

/* These styles will be purged */

/* Tailwind will automatically move any CSS within a @layer directive to the same place as the corresponding @ tailwind rule, so you don't have to worry as much about authoring your CSS in a specific order to avoid specificity issues. */

/*
@layer components {
  .btn-blue {
    @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700;
  }
}

/* These styles will not be purged */

/*
.flatpickr-innerContainer { ... }
.flatpickr-weekdayContainer { ... }
.flatpickr-weekday { ... }
*/
